<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'about' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-row class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.0454242593996!2d106.61615941483383!3d-6.257746895470487!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69fb56b25975f9%3A0x50c7d605ba8542f5!2sUniversitas+Multimedia+Nusantara!5e0!3m2!1sid!2sid!4v1559064673289!5m2!1sid!2sid" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
  </ion-row>

	<div padding class="address">
		<h4>{{'find_us' | translate}} <br>{{'contact_us' | translate}}</h4>
		<ion-row>
			<ion-icon col-2 name="ios-pin"></ion-icon>
			<span col-9>
				<p>{{obj.address}}</p>
        <p ng-if="obj.sub_address != null">{{obj.sub_address}}</p>
			</span>
		</ion-row>
		<ion-row>
			<ion-icon col-2 name="ios-mail"></ion-icon>
			<span col-9>
  			<p>{{obj.mail}}</p>
  			<p ng-if="obj.sub_mail != null">{{obj.sub_mail}}</p>
  		</span>
		</ion-row>
		<ion-row>
			<ion-icon col-2 name="ios-call"></ion-icon>
			<span col-9>
				<p>{{obj.phone}}</p>
				<p ng-if="obj.sub_phone != null">{{obj.sub_phone}}</p>
			</span>
		</ion-row>
    <ion-row ng-if="obj.website != null">
      <ion-icon col-2 name="ios-globe"></ion-icon>
      <span col-9>
        <p>{{obj.website}}</p>
      </span>
    </ion-row>
    <ion-row class="social">
      <h5>{{'social' | translate}}</h5>
      <button ion-button small clear icon-only *ngIf="obj.facebook != null" (click)="nav_more(obj.facebook)">
        <ion-icon name="logo-facebook"></ion-icon>
      </button>
      <button ion-button small clear icon-only *ngIf="obj.instagram != null" (click)="nav_more(obj.instagram)">
        <ion-icon name="logo-instagram"></ion-icon>
      </button>
      <button ion-button small clear icon-only *ngIf="obj.twitter != null" (click)="nav_more(obj.twitter)">
        <ion-icon name="logo-twitter" ></ion-icon>
      </button>
      <button ion-button small clear icon-only *ngIf="obj.pinterest != null" (click)="nav_more(obj.pinterest)">
        <ion-icon name="logo-pinterest" ></ion-icon>
      </button>
      <button ion-button small clear icon-only *ngIf="obj.google_plus != null" (click)="nav_more(obj.google_plus)">
        <ion-icon name="logo-google" ></ion-icon>
      </button>
      <button ion-button small clear icon-only *ngIf="obj.youtube != null" (click)="nav_more(obj.youtube)">
        <ion-icon name="logo-youtube" ></ion-icon>
      </button>
    </ion-row>
  </div>

  <div padding class="ter_cond" ng-if="obj.terms_and_conditions != null">
    <ion-row>
      <h5>{{'termcond' | translate}}</h5>
      <p>{{obj.terms_and_conditions}}</p>
    </ion-row>
	</div>

  <ion-row padding class="form-contact">
		<h4>{{'send_messages' | translate}}</h4>
    <form [formGroup]="form_contact" (ngSubmit)="send_message()">
      <ion-item>
        <input type="text" formControlName="full_name" placeholder="{{'full_name' | translate}}"/>
      </ion-item>

      <ion-item>
        <input type="email" formControlName="email" placeholder="{{'email' | translate}}"/>
      </ion-item>
      <ion-item>
        <textarea formControlName="message" placeholder="{{'messages' | translate}}"></textarea>
      </ion-item>
      <button ion-button type="submit" round>{{'submit' | translate}}</button>
    </form>
  </ion-row>

  <ion-fab bottom right>
  <button ion-fab>{{'contact' | translate}}</button>
  <ion-fab-list side="left">
    <button ion-fab (click)="twitter()"><ion-icon name="logo-twitter"></ion-icon></button>
    <button ion-fab (click)="facebook()"><ion-icon name="logo-facebook"></ion-icon></button>
    <button ion-fab (click)="call()"><ion-icon name="call"></ion-icon></button>
  </ion-fab-list>
</ion-fab>
</ion-content>
