<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>{{'search' | translate}}</ion-title>
      <div class="group-btn-nav">
          <button clear small color="light" ion-button class="cart-nav" (click)="openCartPage()">
            <ion-icon name="cart"></ion-icon><p>{{total_card}}</p>
          </button>
      </div>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar> -->

  <ion-searchbar (ionInput)="search($event.target.value)"></ion-searchbar>


  <ion-row *ngIf="msg_err != null" padding>
    <h4 class="msg_err">{{msg_err}}</h4>
  </ion-row>


  <ion-row *ngIf="list != null && list != 0" class="lst-food">
      <div padding class="name-st">
        <b>{{'search_1' | translate}}</b>
        <h4>{{'search_1' | translate}}</h4>
        <p>{{'search_1' | translate}}</p>
      </div>

      <ion-card *ngFor="let item of list, let i = index">
        <img (click)="openPage(item.id)" src="{{item.image}}"/>
        <div class="sale_off" *ngIf="item.discount_percent != null">
          <img class="badge" src="assets/img/badge.png" alt="">
          <p><b>Sale</b><br>-{{('0' + item.discount_percent).slice(-2)}}<small> %</small></p>
        </div>
        <ion-card-content (click)="openPage(item.id)">
          <ion-card-title>{{item.name}}</ion-card-title>
          <p class="price" *ngIf="item.discount_percent == null || item.discount_percent == 0">{{currencyProvider.formatMoney(item.price)}}</p>
          <p class="price_sale_off" *ngIf="item.discount_percent != null && item.discount_percent != 0">
            <span class="price old-price"> &nbsp; {{currencyProvider.formatMoney(item.price)}} &nbsp; </span>
            <span class="price">{{currencyProvider.formatMoney(item.price - item.price*item.discount_percent/100)}}</span>
          </p>
          <p>{{item.description.substr(0, 150)+'...'}}</p>
        </ion-card-content>
        <ion-row no-padding>
            <ion-col col-4>
              <button clear icon-left ion-button small (click)="modalAddCart(item)">
                  <ion-icon name="cart"></ion-icon>{{'add_cart' | translate}}
              </button>
            </ion-col>
            <ion-col col-4 text-center>
                    <button clear icon-left ion-button small [ngClass]="item.favoriest ? 'active':''" (click)="addFavoriest(item)">
  <ion-icon name="heart"></ion-icon>{{'favoriest' | translate}}
</button>
            </ion-col>
            <ion-col col-4 text-right>
              <button clear icon-left ion-button small (click)="share(item)">
                  <ion-icon name="share-alt"></ion-icon>{{'share' | translate}}
              </button>
            </ion-col>
        </ion-row>
      </ion-card>
    </ion-row>
    <ion-fab bottom right>
  <button ion-fab>{{'contact' | translate}}</button>
  <ion-fab-list side="left">
    <button ion-fab (click)="twitter()"><ion-icon name="logo-twitter"></ion-icon></button>
    <button ion-fab (click)="facebook()"><ion-icon name="logo-facebook"></ion-icon></button>
    <button ion-fab (click)="call()"><ion-icon name="call"></ion-icon></button>
  </ion-fab-list>
</ion-fab>
</ion-content>